/*html{
	
	height: 100%;
}
background-image: url('bg.jpg');*/


h2{

	padding-top: 50px;
	text-align: center;
	color: rgb(153, 17, 17);
	font-size: 50px;
}
.container{

	height: 100%;
	display: flex;
 	justify-content: center;
  	align-items: center; 	
  	vertical-align: middle;

}
table {
	background-color: #e9f5f8;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 6px;
	text-align:center;
}
        
button{
	padding: 20px 100px;
	background-color: white; 
  	border: 2px solid maroon;
  	text-align : center;
	vertical-align : middle;
  	
}
button:hover {
  	background-color: #3e8e41;
}

.dropdown{
	color: rgb(5, 8, 7);
	height: 100%;
	display: flex;
 	justify-content: center;
  	align-items: center;
  	padding: 20px;
  	vertical-align: middle;
}
.scheme{
	position: relative;
  	display: inline-block;
	padding: 20px;
}

.marks{
	color: red;
}

.input-group{
	background-color: #d33636;
	padding: 10px;
}
